<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Home</title>
</head>
<body>

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/"><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup">Signup</a>
            </li>
            <li class="nav-item">
                <div th:if="${currentUser == null}">
                    <a class="nav-link" href="/login">Login</a>
                </div>
            </li>
            <!--settings-nur bei Admin, nur wenn eingeloggt-->
            <div th:if="${currentUser != null && currentUser.isAdministrator()}">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Settings
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/showAdmins">Add new Admin</a>
                    </div>
                </li>
            </div>
            <li class="nav-item">
                <div th:if="${currentUser != null}">
                    <form th:action="@{/logoutToHome}" method="post">
                        <button type="submit">Logout</button>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</nav>


<br><br><br>

<!--Hier: Jumbotron fuer die Home Seite-->
<div class="jumbotron">
    <h1 class="display-4"><span>Welcome to Career Shifters!</span></h1><br>
    <p class="lead">
        <span>&#60;Are you looking to change careers, but don't know where to start? Then you've come to the right place. Read on!&#62;</span>
    </p>
    <hr class="my-4">
    <a class="btn btn-secondary" href="/blog" role="button">To Blog</a>
</div>

<p>OUR BELIEF: </p>
<p>Life is too short to be unhappy at work. You're someone who's intrepid, curious, and so passionate about the
    new field you want to break into that you're willing to take risks. You're someone who's not scared of the new and
    the unfamiliar – and even if you are scared, you're willing to try anyway. </p>
<p>OUR MISSION:</p>
<p>We want to encourage people to look beyond their current set of skills and experiences and explore
    other professions which they previously might not have considered. Whatever your current field of work is or
    whatever degree you may hold does not define what you can achieve or who you can become if you set your mind to it.
    Such a change can be terrifying, we get it. You may not have direct experience of
    your chosen industry, but you have bucketloads of experience in other areas that could impact a new employer or
    client in a fresh way. On our blog, you will find a variety of articles that can serve as handy tools on
    this new journey you're embarking on.</p>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

</body>
</html>