<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,900" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


    <title>Signup</title>
</head>
<body>

<style th:inline="text">
    body {
        background: url([[@{/img/pexels-photo-373076-large.jpeg}]]) no-repeat center center fixed;
    }
</style>

<!--Hier: Navbar-->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <!--Name wenn eingeloggt und Admin Status-->
    <span class="menu">
        <div th:if="${currentUser != null}">
            <p>Hi
        <th:block th:text="${currentUser.name}"></th:block>
                ! - You are logged in.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a th:if="${currentUser.isAdministrator()}">
                    Status: administrator</a>
            </p>
    </div>
    </span>

    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/"><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Back to Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/blog">Back to Blog
                </a>
            </li>
            <li class="nav-item">
                <div th:if="${currentUser == null}">
                    <a class="nav-link" href="/login">Login
                    </a>
                </div>
            </li>

            <li class="nav-item">
                <div th:if="${currentUser != null}">
                    <form th:action="@{/logoutToHome}" method="post">
                        <button type="submit">Logout</button>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!--Hier: Signup Seite-->
<div th:class="containerlogin">
    <form th:action="@{/signup}" th:object="${signup}" method="post">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Sign In</h3>
                    <div class="d-flex justify-content-end social_icon">
                        <span> <a href="https://de-de.facebook.com/login/"><i
                                class="fab fa-facebook-square"></i></a></span>
                        <span><a href="https://de-de.facebook.com/login/"><i class="fab fa-google-plus-square"></i></a></span>
                        <span><a href="https://twitter.com/login?lang=de"><i
                                class="fab fa-twitter-square"></i></a></span>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="padding-right: rem;margin-right: 10px;"><i
                                        class="fas fa-user"></i></span>
                            </div>
                            Username: <br/> <input type="text" th:field="*{username}" style="margin-left: 50px;"
                                                   placeholder="Username"><br/>
                            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="padding-right: rem;margin-right: 10px;"><i
                                        class="fas fa-key"></i></span>
                            </div>
                            Password repeat: <br/> <input type="password" th:field="*{password1}"
                                                          style="margin-left: 5px;" placeholder="Password"><br/>
                            <div th:if="${#fields.hasErrors('password1')}" th:errors="*{password1}"></div>
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" style="padding-right: rem;margin-right: 10px;"><i
                                        class="fas fa-key"></i></span>
                            </div>
                            Password: <br/><input type="password" th:field="*{password2}" style="margin-left: 54px;"
                                                  placeholder="Repeat Password">
                            <div th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}"></div>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Register" class="btn float-right login_btn">
                        </div>
                    </form>
                </div>
                <div class="card-footer">

                </div>
            </div>
        </div>
    </form>
</div>


</body>
</html>